<h2>Список заданий</h2>
{{#if COneTasks.length}}
    <div>
        {{#each COneTasks}}
            <p>
            <form action="/complete" method="post">
                <label>
                    <input type="checkbox" {{#if completed}}checked{{/if}} name="completed">
                    <span>{{title}}</span>
                </label>
                <input type="hidden" value="{{_id}}" name="id"/>
                <button class="btn" type="submit">Save</button>
            </form>
            </p>
            <div>
                <h5>Текст задания:</h5>
                <p>{{taskText}}</p>
            </div>
            <div>
                <h5>Код:</h5>
                <p>{{code.codeRow}}</p>
            </div>
            <div>
                <h5>Последовательно выполните следующее:</h5>
                <p>{{innerTask}}</p>
            </div>
            <div>
                <h5>Введите ответы:</h5>
                {{#with answers}}
                    <ol>
                        <li><p>{{innerTaskAnswer1}}</p></li>
                        <li><p>{{innerTaskAnswer2}}</p></li>
                        <li>
                            {{#with innerTaskAnswer3}}
                                <div class="row">
                                    <div class="input-field col s4">
                                        <span>{{a.[0]}}</span>
                                    </div>
                                    <p class="col s2">заменить на</p>
                                    <div class="input-field col s4">
                                        <span>{{a.[1]}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s4">
                                        <span>{{b.[0]}}</span>
                                    </div>
                                    <p class="col s2">заменить на</p>
                                    <div class="input-field col s4">
                                        <span>{{b.[1]}}</span>
                                    </div>
                                </div>
                            {{/with}}
                        </li>
                    </ol>
                {{/with}}
            </div>
        {{/each}}
    </div>
{{else}}
    <p>Нет доступных задач</p>
{{/if}}